In [1]:
import pandas as pd

# Load the Excel file
file_path = file_path = '/Users/kavita/Desktop/MLProject/casestudy.xlsx'  
data = pd.read_excel(file_path, sheet_name='input_1_histrocial')

# Filter for May orders based on the 'date_order' column
may_orders = data[data['date_order'].dt.month == 5]

# Group by 'date_order' and 'day_of_week_order', then sum the 'items'
May_order_items = may_orders.groupby(['date_order', 'day_of_week_order'])['items'].sum().reset_index()

# Rename columns for clarity
May_order_items.columns = ['date_order', 'day_of_week_order', 'total_items']

# Display the summary
print(May_order_items.head())

  date_order  day_of_week_order  total_items
0 2022-05-01                  7       104200
1 2022-05-02                  1       105356
2 2022-05-03                  2       102407
3 2022-05-04                  3        83761
4 2022-05-05                  4        59848

In [2]:
file_path_2 = '/Users/kavita/Desktop/MLProject/casestudy.xlsx'  

# Load the sheets into DataFrames
historical_data = pd.read_excel(file_path_2, sheet_name='input_1_histrocial')

In [3]:
jan_to_apr_data = historical_data[(historical_data['date_order'].dt.month >= 1) & 
                                  (historical_data['date_order'].dt.month <= 4)].copy()

jan_to_apr_data['lag_days'] = (jan_to_apr_data['date_wh_receive'] - jan_to_apr_data['date_order']).dt.days

In [4]:
# Calculate the day of the week for each order date (Monday=1, Sunday=7)
jan_to_apr_data['day_of_week_order'] = jan_to_apr_data['date_order'].dt.dayofweek + 1

# Group by day of week and lag days, then sum up items for each group
lag_days_with_items_distribution_by_dow = jan_to_apr_data.groupby(['day_of_week_order', 'lag_days'])['items'].sum()

# Calculate the total items received across all considered groupings
total_items_by_dow = lag_days_with_items_distribution_by_dow.groupby('day_of_week_order').sum()

# Calculate the percentage of total items received for each group
distribution_percentages_by_dow = lag_days_with_items_distribution_by_dow.div(total_items_by_dow, level='day_of_week_order') * 100
distribution_percentages_by_dow = distribution_percentages_by_dow.reset_index()

# distribution_percentages_by_dow['items'] = distribution_percentages_by_dow['items'].round(2)
distribution_percentages_by_dow.columns = ['day_of_week_order', 'receipt_diff', 'percentage_of_items']

# Printing 7 tables for each day of the week
days_of_the_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for i, day in enumerate(days_of_the_week, start=1):
    print(f"Table for {day}:")
    display(distribution_percentages_by_dow[distribution_percentages_by_dow['day_of_week_order'] == i])
    print("\n")  # Adds a newline for better readability between tables

Table for Monday:

    day_of_week_order  receipt_diff  percentage_of_items
0                   1             0            40.824339
1                   1             1            23.644657
2                   1             2            33.903578
3                   1             3             0.954722
4                   1             4             0.225399
5                   1             5             0.098191
6                   1             6             0.003326
7                   1             7             0.155559
8                   1             8             0.066098
9                   1             9             0.075826
10                  1            10             0.033673
11                  1            11             0.011390
12                  1            12             0.000831
13                  1            15             0.000083
14                  1            17             0.001081
15                  1            22             0.000083
16                  1            23             0.000083
17                  1            25             0.001081

Table for Tuesday:

    day_of_week_order  receipt_diff  percentage_of_items
18                  2             0            47.568553
19                  2             1            25.294813
20                  2             2            25.626860
21                  2             3             0.840035
22                  2             4             0.208673
23                  2             5             0.001297
24                  2             6             0.087132
25                  2             7             0.144355
26                  2             8             0.117956
27                  2             9             0.063937
28                  2            10             0.022889
29                  2            11             0.010376
30                  2            12             0.000076
31                  2            13             0.008927
32                  2            14             0.002594
33                  2            15             0.000305
34                  2            17             0.000763
35                  2            21             0.000458

Table for Wednesday:

    day_of_week_order  receipt_diff  percentage_of_items
36                  3             0            48.500658
37                  3             1            23.587839
38                  3             2            24.351167
39                  3             3             2.836275
40                  3             4             0.012240
41                  3             5             0.221556
42                  3             6             0.167584
43                  3             7             0.176292
44                  3             8             0.082231
45                  3             9             0.033270
46                  3            10             0.010104
47                  3            11             0.000082
48                  3            12             0.013144
49                  3            13             0.004272
50                  3            14             0.000164
51                  3            15             0.000246
52                  3            16             0.002547
53                  3            17             0.000082
54                  3            19             0.000164
55                  3            24             0.000082

Table for Thursday:

    day_of_week_order  receipt_diff  percentage_of_items
56                  4             0            48.572265
57                  4             1            27.220622
58                  4             2            20.234274
59                  4             3             0.271274
60                  4             4             1.842377
61                  4             5             1.332659
62                  4             6             0.238286
63                  4             7             0.147095
64                  4             8             0.077235
65                  4             9             0.026247
66                  4            10             0.000079
67                  4            11             0.015304
68                  4            12             0.016335
69                  4            13             0.005154
70                  4            14             0.000159
71                  4            15             0.000317
72                  4            19             0.000079
73                  4            26             0.000238

Table for Friday:

    day_of_week_order  receipt_diff  percentage_of_items
74                  5             0            51.404691
75                  5             1            18.831878
76                  5             2             0.429863
77                  5             3            22.170810
78                  5             4             5.467697
79                  5             5             1.259050
80                  5             6             0.164128
81                  5             7             0.128306
82                  5             8             0.054453
83                  5            10             0.028907
84                  5            11             0.026410
85                  5            12             0.021608
86                  5            13             0.010468
87                  5            14             0.000096
88                  5            19             0.001537
89                  5            25             0.000096

Table for Saturday:

     day_of_week_order  receipt_diff  percentage_of_items
90                   6             0            45.181696
91                   6             1             1.778623
92                   6             2            39.522450
93                   6             3            11.172018
94                   6             4             1.801745
95                   6             5             0.281713
96                   6             6             0.079290
97                   6             7             0.085834
98                   6             8             0.009598
99                   6             9             0.024321
100                  6            10             0.021922
101                  6            11             0.034682
102                  6            12             0.005126
103                  6            14             0.000982

Table for Sunday:

     day_of_week_order  receipt_diff  percentage_of_items
104                  7             0            46.494745
105                  7             1            15.704783
106                  7             2            34.693181
107                  7             3             2.184482
108                  7             4             0.432727
109                  7             5             0.127818
110                  7             6             0.052846
111                  7             7             0.087652
112                  7             8             0.113692
113                  7             9             0.046379
114                  7            10             0.044592
115                  7            11             0.016509
116                  7            13             0.000425
117                  7            16             0.000085
118                  7            17             0.000085

In [5]:
# Create a DataFrame for storing daily forecasted items for June

forecast_dates = pd.date_range(start=May_order_items['date_order'].min(), 
                               end=May_order_items['date_order'].max()
                              + pd.Timedelta(days=22))
daily_forecasted_items = pd.DataFrame(index=forecast_dates, columns=['forecasted_wh_received_items_dow'])
daily_forecasted_items['forecasted_wh_received_items_dow'] = 0.0

# Calculating forecasted items for each day in June
for forecast_date in forecast_dates:
    day_of_week = forecast_date.dayofweek + 1  # Get the day of the week for the forecast date
    forecasted_sales = May_order_items[May_order_items['date_order'] == forecast_date]['total_items'].sum()
    
    # Find distribution percentages for this day of the week
    percentages = distribution_percentages_by_dow[distribution_percentages_by_dow['day_of_week_order'] == day_of_week]
    
    # Applying the percentages to distribute the forecasted sales across lag days
    for _, row in percentages.iterrows():
        lag_day = row['receipt_diff']
        percentage = row['percentage_of_items'] / 100
        applicable_date = forecast_date + pd.Timedelta(days=lag_day)
        
        if applicable_date in daily_forecasted_items.index:  # Check if the date falls within June
            daily_forecasted_items.at[applicable_date, 'forecasted_wh_received_items_dow'] += forecasted_sales * percentage


            
daily_forecasted_items.reset_index(inplace=True)
daily_forecasted_items.rename(columns={'index': 'date_wh_receive'}, inplace=True)           
                       
display(daily_forecasted_items.round())

   date_wh_receive  forecasted_wh_received_items_dow
0       2022-05-01                           48448.0
1       2022-05-02                           59375.0
2       2022-05-03                          109775.0
3       2022-05-04                          104524.0
4       2022-05-05                           76527.0
5       2022-05-06                           67480.0
6       2022-05-07                           49560.0
7       2022-05-08                           72891.0
8       2022-05-09                           89459.0
9       2022-05-10                          117085.0
10      2022-05-11                           85983.0
11      2022-05-12                           75199.0
12      2022-05-13                           67615.0
13      2022-05-14                           46759.0
14      2022-05-15                           43035.0
15      2022-05-16                           77243.0
16      2022-05-17                          107347.0
17      2022-05-18                           94021.0
18      2022-05-19                           80936.0
19      2022-05-20                           70027.0
20      2022-05-21                           51655.0
21      2022-05-22                           38775.0
22      2022-05-23                           72230.0
23      2022-05-24                           82080.0
24      2022-05-25                           63883.0
25      2022-05-26                           49206.0
26      2022-05-27                           44483.0
27      2022-05-28                           41410.0
28      2022-05-29                           29284.0
29      2022-05-30                           70980.0
30      2022-05-31                           80577.0
31      2022-06-01                           46213.0
32      2022-06-02                           19151.0
33      2022-06-03                             995.0
34      2022-06-04                             341.0
35      2022-06-05                              61.0
36      2022-06-06                             289.0
37      2022-06-07                             211.0
38      2022-06-08                             196.0
39      2022-06-09                              87.0
40      2022-06-10                              27.0
41      2022-06-11                               9.0
42      2022-06-12                               0.0
43      2022-06-13                               6.0
44      2022-06-14                               3.0
45      2022-06-15                               1.0
46      2022-06-16                               1.0
47      2022-06-17                               1.0
48      2022-06-18                               0.0
49      2022-06-19                               0.0
50      2022-06-20                               0.0
51      2022-06-21                               1.0
52      2022-06-22                               0.0

In [6]:
daily_forecasted_items.to_csv("forecast_distribution_may_2024_DOW.csv", index=False)
from IPython.display import FileLink
FileLink('forecast_distribution_may_2024_DOW.csv')

/Users/kavita/forecast_distribution_may_2024_DOW.csv